# Student Activity

In [1]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt 

student_data = pd.read_csv("../data/m132-student-data.csv") 
student_data.head()

,Unnamed: 0,Name,High School,Grade,Gender
0,0,Alexis Chau,Arcadia High School,9,male
1,1,Owen Koh Lee,Arcadia High School,9,male
2,2,Julia Mason,None,10,female
3,3,Jeremiah-David Addai,Sage Oak Charter High School,9,male
4,4,Melissa Shun,Ramona Convent Secondary School,10,female