# Student Activity

In [4]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt 

student_data = pd.read_csv("../data/m132-student-data.csv") 
student_data.head() 
student_data.drop(list(student_data.columns)[0], axis=1, inplace=True) 
student_data.head()

                   Name                      High School  Grade  Gender
0           Alexis Chau              Arcadia High School      9    male
1          Owen Koh Lee              Arcadia High School      9    male
2           Julia Mason                             None     10  female
3  Jeremiah-David Addai     Sage Oak Charter High School      9    male
4          Melissa Shun  Ramona Convent Secondary School     10  female

In [17]:
# Pie Chart Out of High Schools 

# number of high schools 
print(student_data['High School'].nunique()) 

# List of High Schools 

# We'll use a list comprehension 

hs_counts = [len(student_data[student_data['High School'] == i]) for i in student_data['High School'].unique()]
print(hs_counts) 

# list 

hs = list(student_data['High School']) 

hs_dict = {i: hs.count(i) for i in hs}  
print(hs_dict)

11
[7, 3, 1, 1, 1, 1, 2, 1, 1, 1, 1]
{'Arcadia High School': 7, 'None': 3, 'Sage Oak Charter High School': 1, 'Ramona Convent Secondary School': 1, 'Granada Hills Charter High School': 1, 'Chaminade College Prep': 1, 'Temple City High School': 2, 'Ontario High School': 1, 'Irvine High School': 1, 'Arnold O Beckman High School': 1, 'Troy High School': 1}